services:
  wildintel-tools:
    image: ghcr.io/ijfvianauhu/wildintel-tools/wildintel-tools:latest
    container_name: wildintel-tools
    restart: unless-stopped
    volumes:
      # Internal volume for settings persistence
      - wildintel_tools_settings:/home/trapper/.config/wildintel-tools
      # Mount for data directory (user-defined)
      - ${DATA_PATH:-./wildintel-tools-data/collections}:/wildintel-tools-data/collections
      - ${OUTPUT_PATH:-./wildintel-tools-data/collections-ready-for-trapper}:/wildintel-tools-data/collections-ready-for-trapper
    # user: "1000:1000"
    env_file:
      - .env
    stdin_open: true
    tty: true

volumes:
  wildintel_tools_settings:  # Named volume for settings persistence
