# wildintel-tools settings: {section}__{variable}

# ==========================
# [LOGGER]
# ==========================
# LOGGER__LOGLEVEL=1            # Log verbosity level (1=INFO, 2=DEBUG, etc.)
# LOGGER__FILENAME=             # Optional log file path

# ==========================
# [GENERAL]
# ==========================
# GENERAL__HOST=https://wildintel-trap.uhu.es    # Base URL of the Trapper server
# GENERAL__LOGIN=username@uhu.es                 # User login email
# GENERAL__PASSWORD=mi_password                  # User password
# GENERAL__PROJECT_ID=999                        # Project ID in Trapper
# GENERAL__VERIFY_SSL=true                       # Verify SSL certificates (true/false)
# GENERAL__FFMPEG=ffmpeg                         # Path to ffmpeg executable
# GENERAL__EXIFTOOL=exiftool                     # Path to exiftool executable
# GENERAL__DATA_DIR="/wildintel-tools-data/collections"                             # Path to local data directory

# ==========================
# [WILDINTEL]
# ==========================
# WILDINTEL__RP_NAME=WildINTEL                   # Research project name
# WILDINTEL__COVERAGE=Doñana National Park       # Geographic coverage or study area
# WILDINTEL__PUBLISHER=University of Huelva      # Publishing organization
# WILDINTEL__OWNER=University of Huelva          # Data owner
# WILDINTEL__TOLERANCE_HOURS=1                   # Tolerance in hours for deployment checks
# WILDINTEL__RESIZE_IMG=false                    # Whether to resize images (true/false)
# WILDINTEL__RESIZE_IMG_SIZE=800,600             # Resize dimensions (width,height)
# WILDINTEL__OVERWRITE=false                     # Whether to overwrite existing files
WILDINTEL__OUTPUT_DIR="/wildintel-tools-data/collections-ready-for-trapper" # Output directory for generated data

# ==========================
# docker environment variables
# ==========================

# Absolute path to your data directories (recommended)
DATA_PATH=./wildintel-tools-data/collections
OUTPUT_DIR=./wildintel-tools-data/collections-ready-for-trapper
