# wildintel-tools settings: {section}__{variable}

# [GENERAL]
GENERAL__HOST=http://localhost # Path to your Trapper server
GENERAL__LOGIN=trapper@os-conservation.org
GENERAL__PASSWORD=trapper
GENERAL__FFMPEG=ffmpeg # Path to ffmpeg binaries
GENERAL__EXIFTOOL=exiftool # Path to exiftool binaries

# [UPLOAD]
UPLOAD__FTP_TLS=true

# docker environment variables

# path to your data directory (absolute path recommended)
DATA_PATH=/path/to/your/data
