name: Build Docker Image

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - development
      - 'v*.*'   # Para tags de release como v0.1, v0.2
  pull_request:
    branches:
      - main
      - development

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set Docker image name
        id: docker-name
        run: |
          if [[ "${GITHUB_REF}" == "refs/heads/main" ]]; then
            echo "IMAGE_NAME=wildintel-tools:main" >> $GITHUB_ENV
          elif [[ "${GITHUB_REF}" == "refs/heads/development" ]]; then
            echo "IMAGE_NAME=wildintel-tools:development" >> $GITHUB_ENV
          elif [[ "${GITHUB_REF}" == refs/tags/* ]]; then
            TAG_NAME=${GITHUB_REF#refs/tags/}
            echo "IMAGE_NAME=wildintel-tools:$TAG_NAME" >> $GITHUB_ENV
          else
            echo "IMAGE_NAME=wildintel-tools:latest" >> $GITHUB_ENV
          fi
          echo "Docker image will be $IMAGE_NAME"

      - name: Build Docker image
        run: docker build -t $IMAGE_NAME .

      - name: List Docker images
        run: docker images
